name: Publish

on:
  release:
    types: [published]

permissions: {}

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for PyPI trusted publishing

    environment:
      name: pypi.org
      url: https://pypi.org/p/sigstore-models

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Build
        run: uv build

      - name: Publish to PyPI
        run: |
          uv publish --trusted-publishing=always dist/*
