name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions: {}

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for PyPI trusted publishing + attestations

    environment:
      name: pypi.org
      url: https://pypi.org/p/sigstore-models

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Build
        run: uv build

      - name: Attest
        uses: astral-sh/attest-action@24ef1e27aff05cfa71313553b7a268ae1c8b0d60 # main

      - name: Publish to PyPI
        if: github.event_name == 'release' # only on release, not workflow_dispatch
        run: |
          uv publish --trusted-publishing=always dist/*
